/* INDEX */
.container {
    background-color: #333;
    border: 3px solid red;
    padding: 30px;
    display: grid;
    grid-template-columns:
    auto auto auto auto auto auto auto auto;
    grid-template-rows:
    auto auto auto auto auto auto auto auto;
    height: 100vh;
    /* Alinha na horizontal */
    justify-content: center; 
    /* Alinhamento na vertical */
    align-items: center;
}

.container div {
    background-color: #ccc;
    padding: 48px;
    border: 2px solid blue;
    height: 0vh;
}

#item-1:nth-child(odd) {
    color: red;
    background-color: #FFFF00;
    text-align: center;
}

#item-3:nth-child(odd) {
    color: red;
    background-color: #FFFF00;
    text-align: center;
}

#item-5:nth-child(odd) {
    color: red;
    background-color: #FFFF00;
    text-align: center;
}

#item-7:nth-child(odd) {
    color: red;
    background-color: #FFFF00;
    text-align: center;
}

#item-10:nth-child(even) {
    color: red;
    background-color: #FFFF00;
    text-align: center;
}

#item-12:nth-child(even) {
    color: red;
    background-color: #FFFF00;
    text-align: center;
}

#item-14:nth-child(even) {
    color: red;
    background-color: #FFFF00;
    text-align: center;
}

#item-16:nth-child(even) {
    color: red;
    background-color: #FFFF00;
    text-align: center;
}

#item-17:nth-child(odd) {
    color: red;
    background-color: #FFFF00;
    text-align: center;
}

#item-19:nth-child(odd) {
    color: red;
    background-color: #FFFF00;
    text-align: center;
}

#item-21:nth-child(odd) {
    color: red;
    background-color: #FFFF00;
    text-align: center;
}

#item-23:nth-child(odd) {
    color: red;
    background-color: #FFFF00;
    text-align: center;
}

#item-26:nth-child(even) {
    color: red;
    background-color: #FFFF00;
    text-align: center;
}

#item-28:nth-child(even) {
    color: red;
    background-color: #FFFF00;
    text-align: center;
}

#item-30:nth-child(even) {
    color: red;
    background-color: #FFFF00;
    text-align: center;
}

#item-32:nth-child(even) {
    color: red;
    background-color: #FFFF00;
    text-align: center;
}

#item-33:nth-child(odd) {
    color: red;
    background-color: #FFFF00;
    text-align: center;
}

#item-35:nth-child(odd) {
    color: red;
    background-color: #FFFF00;
    text-align: center;
}

#item-37:nth-child(odd) {
    color: red;
    background-color: #FFFF00;
    text-align: center;
}

#item-39:nth-child(odd) {
    color: red;
    background-color: #FFFF00;
    text-align: center;
}

#item-42:nth-child(even) {
    color: red;
    background-color: #FFFF00;
    text-align: center;
}

#item-44:nth-child(even) {
    color: red;
    background-color: #FFFF00;
    text-align: center;
}

#item-46:nth-child(even) {
    color: red;
    background-color: #FFFF00;
    text-align: center;
}

#item-48:nth-child(even) {
    color: red;
    background-color: #FFFF00;
    text-align: center;
}

#item-49:nth-child(odd) {
    color: red;
    background-color: #FFFF00;
    text-align: center;
}

#item-51:nth-child(odd) {
    color: red;
    background-color: #FFFF00;
    text-align: center;
}

#item-53:nth-child(odd) {
    color: red;
    background-color: #FFFF00;
    text-align: center;
}

#item-55:nth-child(odd) {
    color: red;
    background-color: #FFFF00;
    text-align: center;
}

#item-58:nth-child(even) {
    color: red;
    background-color: #FFFF00;
    text-align: center;
}

#item-60:nth-child(even) {
    color: red;
    background-color: #FFFF00;
    text-align: center;
}

#item-62:nth-child(even) {
    color: red;
    background-color: #FFFF00;
    text-align: center;
}

#item-64:nth-child(even) {
    color: red;
    background-color: #FFFF00;
    text-align: center;
}



/* TABELA */
.container1 {
    background-color: #333;
    border: 3px solid red;
    padding: 20px;
    display: grid;
    grid-template-columns: 50%;
    height: 85vh;
    /* Alinha na horizontal */
    justify-content: center; 
    /* Alinhamento na vertical */
    align-items: center;
}

#item {
    background-color: #ccc;
    border: 3px solid red;
    padding: 20px;
    height: 10vh;
}

#impar:nth-child(odd) {
    color: red;
    background-color: #fff;
    text-align: center;
}

#par:nth-child(even) {
    background-color: #FFFF00;
    text-align: center;
}

#impar1:nth-child(odd) {
    color: red;
    background-color: #FFFF00;
    text-align: center;
}

#par1:nth-child(even) {
    background-color: #fff;
    text-align: center;
}